#note-1{
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 4px 6px;
    text-align: left;
}

#note-1-p{
    font-size: 15px;
}

#note-2{
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 4px 6px;
    text-align: left;
}

#note-2-p{
    font-size: 15px;
}

#age-form {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#start-button {
    margin-left: 15px;
    margin-right: auto;
    display: block;
}

#cam_input {
    display: none;
}

#canvas {
    margin-left: 12%;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}

#face-range {
    margin-left: 27%;
    margin-right: auto;
    margin-top: 10px;
    display: none;
    width: 70%;
}

#face-approx {
    margin-left: 27%;
    margin-right: auto;
    display: none;
    width: 70%;
}

#retest {
    margin-left: auto;
    margin-right: auto;
    display: none;
    width: 10%;
}

#range {
    color: green;
}

#distance {
    color: green;
}